/****
Name: Navaneetha Krishnan
Designation: UI Designer
 */
*{
	margin:0;
	padding:0;
}
@font-face {
	font-family: 'SF UI Text';
	src: url('../fonts/SFUIText-Regular.eot');
	src: url('../fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText-Regular.woff2') format('woff2'),
	url('../fonts/SFUIText-Regular.woff') format('woff'),
	url('../fonts/SFUIText-Regular.ttf') format('truetype'),
	url('../fonts/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('../fonts/SFUIText-Bold.eot');
	src: url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText-Bold.woff2') format('woff2'),
	url('../fonts/SFUIText-Bold.woff') format('woff'),
	url('../fonts/SFUIText-Bold.ttf') format('truetype'),
	url('../fonts/SFUIText-Bold.svg#SFUIText-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Bold.eot');
	src: url('../fonts/Jost-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Jost-Bold.woff2') format('woff2'),
	url('../fonts/Jost-Bold.woff') format('woff'),
	url('../fonts/Jost-Bold.ttf') format('truetype'),
	url('../fonts/Jost-Bold.svg#Jost-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Regular.eot');
	src: url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Jost-Regular.woff2') format('woff2'),
	url('../fonts/Jost-Regular.woff') format('woff'),
	url('../fonts/Jost-Regular.ttf') format('truetype'),
	url('../fonts/Jost-Regular.svg#Jost-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
.container{
	width:1140px;
	margin:0 auto;
}
body{
	font-family: 'SF UI Text';
	color: #696969;
	font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Jost';
	font-weight:600;
}
.nav-icon{
	list-style:none;
	float:right;
}
.nav-icon li{
	display:inline-block;
}
.nav-icon>li>.menu{
	display:none;
}
.nav-icon li a{
	display: inline-block;
	text-decoration: none;
	padding: 30px 0;
	margin-right: 20px;
	font-size: 19px;
	color: #272727;
}
.nav-bar{
	list-style: none;
    float: right;
}
.nav-bar>li{
	display:inline-block;
	position:relative;
}
.dropdown{
	float: left;
	list-style: none;
	position: absolute;
	top: 83px;
	left: 3px;
	bottom: 0px;
	z-index: 7;
	display:none;
}
.dropdown>li{
	display: inline-block;
	background: #fff;
	width: 246px;
	box-shadow: 0px 5px 5px;
	padding-bottom: 10px;
}
.dropdown>li>a{
	text-decoration: none;
	padding: 7px 16px;
	margin-right: 36px;
	color: #272727;
	text-transform: capitalize;
	font-size: 19px;
	display: block;
	transition:0.3s;
}
.dropdown>li>a:hover{
	color:#ff9800;
	padding-left:30px;
}
.nav-bar>li>a{
	display: inline-block;
    text-decoration: none;
    padding: 30px 0;
    margin-right: 36px;
    color: #272727;
    text-transform: capitalize;
    font-size: 19px;
}
.nav-bar>li:hover .dropdown {
    display: block;
}
.nav-bar>li>a:hover{
	color:#f5a96e;
}
.logo{
	padding: 20px 0;
}
.banner{
	background:url(../images/slider-01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height:980px;
	padding: 100px 0;
}
.banner-text{
	padding: 255px 0;
}
.banner-text h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 600;
    width: calc(70% - 40px);
    margin: 0 20px;
}
.banner-text p{
	width: 44%;
	color: #fff;
	margin: 0 20px;
	font-size: 18px;
	font-weight: 500;
	padding-top: 38px;
}
.view a{
    text-decoration: none;
    margin: 49px 20px;
    display: inline-block;
    padding: 18px 25px;
    background: #fff;
    font-family: 'Jost';
    color: #060505;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 600;
}
.view a:hover{
	background:#f5a96e;
	color:#fff;
}
.our-feature-background{
    background: #000;
    width: 100%;
    float: left;
}
.our-feature-total{
	padding: 100px 0 240px 0;
    float: left;
}
.our-feature{
	width: 66.574%;
    float: left;
}
.our-feature-padding{
	padding: 10px;
}
.our-feature-text h2{
	font-size: 17px;
	color: #f5a96e;
	text-transform: uppercase;
	margin-bottom: 12px;
	font-weight: 700;
}
.our-feature-text h3{
	font-size: 40px;
    margin: auto;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    color: #fff;
}
.archi{
	color: #f5a96e;
}
.bed{
	width: 33.208%;
    float: left;
}
.bed img{
	width: 100%;
}
.landscap-background{
	background: #fff;
	float: left;
	width:100%;
	padding-bottom: 140px;
}
.landscape-total{
	margin: -190px 0 0 0;
	float:left;
	width:100%;
}
.landscap-list{
	list-style: none;
	float:left;
	width:100%;
}
.landscap-list li{
	display: inline-block;
	width: 25%;
	text-align: center;
	float:left;
}
.landscap-padding{
	padding: 55px 20px;
	background: #fff;
	border: 1px solid #e5e5e5;
	margin-right: 30px;
}
.landscap-text a{
	text-decoration: none;
	text-transform: capitalize;
	color: #000;
	margin-top: 40px;
	display: inline-block;
	font-size: 25px;
}
.landscap-text a:hover{
	color:#f5a96e;
}
.landscap-text p{
	margin-top: 28px;
}
.elevate-background{
	float: left;
    width: 100%;
	padding-bottom: 50px;
}
.elevate-img{
	width: 50%;
	float: left;
	position: relative;
}
.elevate-padding{
	padding: 10px;
}
.experience img{
	width:100%;
}
.years-outter{
	position: absolute;
    top: 196px;
    left: 159px;
    background: #f5a96e;
}
.years-padding{
	padding: 38px 20px 38px 20px;
}
.years-text{
	text-align: center;
}
.years-text h3{
	display: inline;
    font-size: 76px;
    color: #fff;
}
.plus{
	display: inline-block;
    font-size: 76px;
    color: #fff;
	font-weight: 700;
}
.years-text h4{
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}
.beauty{
	width: 50%;
    float: left;
}
.beauty-paddin{
	padding: 10px;
    margin-left: 25px;
	float: left;
}
.beauty-padding{
	padding: 20px 10px 20px 10px;
    margin-left: 25px;
    float: left;
    border-bottom: 1px solid #f2f2f2;
}
.beauty-paddi{
	padding: 10px;
    margin-left: 20px;
    float: left;
}
.phon{
	float:left;
}
.phon h3{
	display: inline-block;
	color: #000;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 14px;
}
.phon p{
	margin-left: 7px;
    margin-top: 6px;
    font-size: 29px;
    color: #f5a96e;
    font-weight: 700;
}
.beauty-outter h2{
	color: #f5a96e;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom:12px;
}
.beauty-outter h3{
	font-size: 40px;
    text-transform: uppercase;
	margin-bottom:23px;
	font-weight: 700;
	color: #000;
}
.design-total{
	width: 100%;
    float: left;
	margin-top: 53px;
	margin-bottom: 9px;
}
.design-first{
	width: 50%;
	float: left;
}
.nav-beauty{
	list-style: none;
}
.nav-beauty li{
	display:inline-block;
}
.beauty-list{
	line-height: 39px;
}
.design-second{
	width: 47%;
	float: left;
}
.design-second img{
	width:100%;
}
.call-us{
	width: 100%;
    float: left;
    padding-top: 48px;
}
.phone{
	font-size: 38px;
    background: #000;
    border-radius: 50px;
    padding: 9px 16px;
	color:#fff;
}
.ourservice-background{
	float: left;
    background: #f9f9f9;
    width: 100%;
	padding: 100px 0;
}
.roofing{
	text-align:center;
}
.proof{
	font-size: 17px;
	display: inline-block;
	margin-bottom: 12px;
	text-transform:uppercase;
	color: #f5a96e;
}
.heading{
	font-size: 40px;
    margin: auto;
    font-weight: 700;
    line-height: 1.4;
	color:#000;
	text-transform: uppercase;
}
.apratment-list{
	list-style: none;
    float: left;
    width: 100%;
	margin-top: 60px;
}
.apratment-list li{ 
	width: 33.3%;
    float: left;
}
.apratment-padding{
	padding: 50px 30px;
	background: #fff;
	margin-right: 30px;
}
.apratment-image img{
	height:71px;
}
.design{
	font-size: 25px;
    color: #000;
    margin-top: 30px;
	text-transform: capitalize;
}
.aprtment-link{
	margin-top: 15px;
    margin-bottom: 5px;
}
.aprtment-link a{
	display: block;
    color: #454545;
    margin-bottom: 15px;
    text-decoration: none;
	text-transform: capitalize;
}
.aprtment-link a:hover{
	color:#f5a96e;
}
.apratments-outter{
	float: left;
    width: calc(100% - 50px);
    margin: 0 25px;
}
.btn a{
	text-decoration: none;
	background: #fff;
	border-radius: 50px;
	border: 1px solid #f3f3f3;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin-top: 47px;
	padding: 14px 19px;
	transition: 1.3s;
}
.btn a:hover{
	background:#f5a96e;
	color:#fff;
}
.people-backround{
	float: left;
	width: 100%;
	background: url(../images/counter-bg.jpg);
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.background-overlay{
	position: absolute;
    background: #f5a96e;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    opacity: .95;
}
.pen-outter{
    list-style: none;
    float: left;
    width: 100%;
    padding: 70px 0;
}
.pen-outter li{
	width: 25%;
    float: left;
}
.pen-image{
	float: left;
    position: relative;
    padding-top: 15px;
}
.pen-content{
	position: relative;
    float: left;
    margin-left: 20px;
}
.counter{
	color: #fff;
    display: inline-block;
    font-size: 40px;
}
.pen-plus{
	color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.pent{
	color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.range-background{
	float: left;
    width: 100%;
    padding-top: 100px;
    background: #fff;
    padding-bottom: 200px;
	border-bottom: 1px solid #f2f2f2;
}
.range-outter{
	    float: left;
    width: 100%;
}
.choose{
	width: calc( 50% - 74px);
    float: left;
    margin-left: 74px;
}
.choose-padding{
	padding:6px;
}
.choo{
	font-size: 17px;
    display: inline-block;
    text-transform: uppercase;
    color: #f5a96e;
}
.high{
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 30px;
}
.choose-text p{
	line-height:30px;
	text-transform: capitalize;
}
.choose-bottom{
	float: left;
	width: 100%;
	margin-top: 40px;
}
.choose-icon{
	float: left;
	background: #f5a96e;
	padding: 30px 31px;
	border-radius: 50px;
	margin: 16px;
	color: #fff;
}
.choose-heading{
	float: left;
	width: 75%;
}
.material h3{
	font-size: 24px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.material-text p{
	line-height: 24px;
	text-transform: capitalize;
}
.range-picture{
	width: 50%;
    float: left;
}
.range-picture img{
	width: 100%;
}
.member-background{
	float: left;
    width: 100%;
	padding: 100px 0;
}
.exculusive{
	text-align: center;
}
.exculusive h2{
	color: #f5a96e;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 12px;
}
.exculusive h3{
	font-size: 40px;
    margin: auto;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
    text-transform: uppercase;
}
.social{
	float: left;
    width: calc(100% - 60px);
    margin-top: 60px;
    margin: 60px 30px 0 30px;
}
.social-image-total{
	position: relative;
    margin-right: 20px;
    box-shadow: 0px 0px 5px #ccc;
}
.social-image img{
	width:100%;
}
.social-list{
	list-style:none;
}
.social-list li{
	width: 33.3%;
	float: left;
}
.social-web{
	text-align: center;
    position: absolute;
    bottom: 102px;
    left: 50%;
    transform: translateX(-50%);
}
.social-web-list{
	position:relative;
}
.facebook,.twitter,.google,.insta{
    color: #000;
    background-color: #fff8f8;
    font-size: 17px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    position: absolute;
    left: -24px;
    top: -45px;
}
.facebook{
	z-index:7;
}
.social-web-list:hover .facebook{
	    top: -185px
}
.social-web-list:hover .twitter{
	    top: -138px;
}
.social-web-list:hover .insta{
	    top: -92px;
}
.social-content{
	text-align: center;
    margin-bottom: 40px;
}
.social-content h5{
	font-size: 25px;
	color: #000;
	text-transform: capitalize;
}
.social-content span{
	color: #696969;
	text-transform: capitalize;
	line-height: 25px;
}
.gret-background{
	float: left;
	width: 100%;
	background: url(../images/video-bg1.jpg);
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 160px 0 170px;
}
.video{
	text-align:center;
}
.video a{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 28px;
	background: #fff;
	color: #f5a96e;
}
.video a i{
	position:absolute;
	top: 36px;
	left: 41px;
}
.video h3{
	font-size: 40px;
    margin-top: 45px;
    color: #fff;
	text-transform: capitalize;
}
.project-background{
	width: 100%;
    float: left;
    background: #f9f9f9;
    padding: 60px 0;
}
.our-project{
	text-align:center;
}
.our-project-outters{
	text-align: center;
    width: calc(100% - 74px);
    margin-top: 60px;
    margin: 60px 37px 0 37px;
}
.our-project h2{
	font-size: 17px;
	display: inline-block;
	margin-bottom: 12px;
	text-transform: uppercase;
	color: #f5a96e;
}
.our-project h3{
	font-size: 40px;
	margin: auto;
	font-weight: 700;
	line-height: 1.4;
	color: #000;
	text-transform: uppercase;
}
.projects{
	float: left;
    width: 100%;
    margin-top: 40px;
}
.project-list{
	  list-style:none;
}
.project-list li{
	width: 33.3%;
    float: left;
}
.recent-image{
	margin-right: 25px;
	position:relative;
}
.quality{
	position: absolute;
    top: 0;
    background: #f5a96eb3;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
	display:none;
	transition: 0.8s;
}
.project-list li:hover .quality{
	display:block;
}
.arrow{
	padding: 21px 27px;
	border-radius: 10px;
	font-size: 24px;
	color: #f5a96e;
	background: #fff;
	margin: 15px 15px;
	display: inline-block;
}
.arrow:hover{
	background:#000;
}
.raw{
	position: absolute;
	bottom: 30px;
	left: 28px;
}
.raw:hover{
	display:block;
}
.from{
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	line-height: 46px;
	display: inline-block;
	text-transform:capitalize;
}
.from:hover{
	color:#000;
}
.raw p{
	font-size: 17px;
	text-transform: capitalize;
	color: #fff;
}
.project-list li img{
	width:100%;
}
.testiminoal-background{
	float: left;
	width: 100%;
	background: url(../images/testi-bg.jpg);
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}
.our-project h1 {
    font-size: 40px;
    margin: auto;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
    text-transform: uppercase;
}
.anderson-list{
	list-style:none;
	float:left;
}
.anderson-list li{
	width: 50%;
    float: left;
    display: inline-block;
}
.anderson{
    float:left;
    width:100%;
    margin-top:62px;
}
.anderson-padding{
	padding:48px 48px;
    background:#fff;
	margin-right: 21px;
	box-shadow: 0px 0px 13px #ccc;
}
.anderson-image{
	float: left;
}
.anderson-image img{
	float:left;
	padding-top: 17px;
}
.jackson-text{
	display:inline-block;
}
.jackson-text h2{
	font-size: 24px;
    text-transform: capitalize;
    margin-left: 18px;
    display: block;
    color: #000;
}
.manage{
	margin-left: 18px;
	font-size:17px;
	color:#696969;
	font-weight:400;
	text-transform:capitalize;
}
.anderson-content p{
	text-align: left;
	padding-top: 20px;
	line-height: 25px;
	display:inline-block;
}
.star{
	padding-top: 16px;
    font-size: 22px;
    color: #000;
}
.webdesign-background{
	float: left;
	width: 100%;
	background: #000;
}
.webdesign-out{
	float:left;
	width:100%;
	padding: 55px 0;
}
.webdesign-list{
	float: left;
    list-style: none;
    width: 100%;
}
.webdesign-list li{
    width: 20%;
    float: left;
}
.page-link-inside a{
	text-decoration: none;
	display:block;
}
.page-link-total{
	margin-top: 35px;
}
.page-link-inside h3{
    display: inline;
    color: #000;
}
.down-arrow.active{
	background: #f5a96e;
    color: #fff;
}
.down-arrow{
	float: right;
    background: #fef0e7;
    padding: 10px 13px;
	color:#f5a96e;
}
.page-paragraph{
	margin-top: 34px;
	padding: 0 52px 0 6px;
}
.page-paragraph p{
	line-height:26px;
}
.links {
    margin-top: 36px;
    margin-bottom: 41px;
}
.require-background{
	float: left;
    width: 100%;
    background: #f9f9f9;
}
.required-total{
	background: url(../images/call-to-bg.jpg);
    background-position: center;
    background: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 114px;
    margin-top: -86px;
    margin-bottom: 60px;
    text-align: center;
}
.required-total h2{
	display: inline-block;
    width: 700px;
    font-size: 30px;
    color: #000;
}
.required-total a{
	padding: 23px;
    float: right;
    text-decoration: none;
    background: #000;
    color: #fff;
    font-size: 19px;
    display: inline-block;
}
.news{
	float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 120px;
}
.news-bar{
	list-style: none;
    float: left;
}
.news-bar li{
	width: 33.3%;
	float: left;
	display: inline-block;
}
.news-outter{
	background: #fff;
	margin-right: 25px;

}
.news-image{
	position:relative;
}
.news-image img{
	width:100%;
}
.news-image::before{
	position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .5s;
    z-index: 1;
}
.news-outter:hover .news-image::before{
	background:rgba(0,0,0,0.5);
}
.admin-outter {
    padding: 15px 15px 15px 15px;
	text-align: left;
}
.job{
	margin-right: 12px;
}
.job a {
    text-decoration: none;
    font-size: 16px;
    color: #888;
}
.job i{ 
    color: #f5a96e;
}
.open a{
	font-size: 24px;
	display: inline-block;
	text-decoration: none;
	margin-top: 24px;
	color: #000;
}
.open a:hover{
	 color: #f5a96e;
}
.admin-inner p{
	font-size: 17px;
    padding: 20px 0;
	text-transform: capitalize;
}
.button-outter{
	margin: 20px 0;
}
.button-link a{
	text-decoration: none;
    text-transform: capitalize;
    background: #f5a96e;
    padding: 10px 20px;
    color: #000;
    display: inline-block;
}
.button-link a:hover{
	color:#fff;
	background:#000;
}
footer{
	    float: left;
    width: 100%;
}
.footer-background{
    float: left;
    width: 100%;
    background: url(../images/video-bg1.jpg) no-repeat center;
	position:relative;
	background-size: cover;
}
.footer-color{
	float: left;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    top: 0;
}
.footer-full{
	float: left;
	width: 100%;
	position: relative;
	padding: 60px 0;
	z-index: 10;
}
.footer-descripition{
	width: 30.3%;
    float: left;
	padding: 0 15px;
}
.footer-descripition p{
	margin-top: 19px;
    line-height: 31px;
    color: #fff;
}
.footer-address{
	float:left;
	width:100%;
}

.social-icons{
	    margin-top: 25px;
}
.social-icons a{
	padding-right: 10px;
	margin-left: 14px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 7px 12px;
	transition: 0.3s;
}
.social-icons a:hover{
	background:#f5a96e;
}
.footer-descripition h2{
	font-size: 25px;
	color: #fff;
	text-transform: capitalize;
	margin: 8px 0 20px 0;
}
.decor{
	list-style: none;
    float: left;
}
.decor li a{
	display: inline-block;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
	text-transform: capitalize;
}
.decor li a:hover{
	color:#f5a96e;
}
.logo-address{
	float:left;
}
.logo-address a{
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	line-height: 35px;
}
.logo-address i{
    padding-right: 10px;
}
.input-group{
	float:left;
}
.form-control{
	background: #000;
    padding: 20px 66px 20px 12px;
    color: #fff;
    border: 1px solid #ffffff66;
    margin-top: 34px;
    outline: 0;
    margin-right: 0;
    width: 53%;
}
::placeholder {
	color:#fff;
}
.search-button{
	padding: 19px 30px;
	background: #fff;
	color: #000;
	transition: 0.3s;
	margin-left: -42px;
}
.search-button:hover{
	color:#fcb900;
}
.copyright-background{
	float: left;
	width: 100%;
	background: #000;
	padding: 25px 0;
}
.copyright{
	width: 50%;
	float: left;
}
.copyright p{
	color: #fff;
	text-transform: capitalize;
}
.footer-menu{
	width: 50%;
	float: left;
}
.pricing{
	list-style:none;
	float:right;
}
.pricing li{
	display: inline-block;
	float: left;
}
.pricing li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	padding-left: 24px;
}
.pricing li a:hover{
	color: #f5a96e;
}
/********************992px*******************************************/
@media only screen and (max-width:992px) {
.container{
	width:960px;
}
header{
	position:static;
}
.nav-bar{
	display:none;
}
.nav-icon>li>.down{
	display:none;
}
.nav-icon>li>.menu{
	display:block;
}
.banner{
	text-align: center;
	height:auto;
}
.banner-text h2{
	width: calc(100% - 40px);
	font-size:48px;
}
.banner-text p {
    width: calc(100% - 40px);
}
.our-feature-text h3 {
	font-size:24px;
}
.landscap-background{
	padding-bottom:80px;
}
.landscap-list li {
	width:50%;
}
.landscap-padding{
	min-height: 293px;
	margin-bottom: 25px;
}
.our-feature-total {
    padding: 50px 0;
}
.landscape-total {
	margin-top:34px;
}
.years-outter{
	position:static;
	margin-top: 16px;
}
.beauty-paddin{
	margin:0;
}
.beauty-outter h3{
	font-size:26px;
}
.design-total{
	margin-top: 17px;
}
.beauty-padding{
	margin: 0;
	padding: 21px 10px 21px 10px;
}
.phon{
	width: 100%;
}
.call-us{
	padding-top: 26px;
}
.beauty-paddi{
	margin-left: 0px;
}
.phon{
	width:100%;
}
.heading{
	font-size: 27px;
}
.apratment-list li {
	width:50%;
}
.apratment-padding {
}
.apratment-list li{
	width: 50%;
    margin-bottom: 21px;
}
.pen-outter li{
	width: 50%;
}
.pen-image{
	width: 100%;
}
.pen-content{
	width: 100%;
	margin: 0;
}
.pen-outter li{
	width: 50%;
    text-align: center;
	margin-bottom: 30px;
}
.high{
	font-size:27px;
}
.range-background{
	padding-bottom:100px;
}
.choose-bottom{
	margin-top:25px;
}
.choose-padding {
    padding: 6px 15px;
}
.choose-heading{
	width:100%;
}
.social-list li {
    width: 50%;
}
.video h3{
	font-size:30px;
}
.our-project h3{
	font-size: 27px;
}
.project-list li {
    width: 50%;
}
.our-project{
	text-align:center;
}
.our-project h1{
	font-size:27px;
}
.required-total h2{
	width: 100%;
}
.required-total a{
	margin-top: 30px;
	float:none;
}
.news-bar li{
	width:50%;
}
.news-outter{
	margin-bottom: 31px;
}
.footer-descripition {
    width: calc(50% - 30px);
    float: left;
    padding: 0 15px;
}
.copyright-outter{
	text-align:center;
}
.pricing{
	margin-right: 123px;
}
}
/*mobile*/
@media only screen and (max-width: 768px) {
	.container{
		width:720px;
	}
	.anderson-padding{
		padding: 42px 23px;
	}
}
@media only screen and (max-width:576px){
	
.container{
	width:540px;
	margin:0 auto;
}
.banner{
	padding:82px 0;
}
.banner-text{
	padding:0;
}
.banner-text h2{
	font-size: 33px;
}
.banner-text p{
	padding-top: 20px;
}
.view a{
	padding: 10px 18px;
}
.landscap-list {
    width: calc(100% - 40px);
    margin: 0px 20px;
}
.landscap-padding {
    margin-bottom: 19px;
    margin-right: 0;
    padding: 20px 20px;
}
.landscap-background {
    padding-bottom: 22px;
}
.ourservice-background{
	padding:50px 0;
}
.apratment-padding {
    margin: 0;
	padding: 20px 20px;
}
.range-background{
	    padding-top: 40px;
}
.member-background{
	    padding: 50px 0;
}
.projects{
	width: calc(100% - 40px);
    margin: 20px 20px;
}
.recent-image{
	margin:0;
}
.project-background{
	padding: 50px 0;
}
.our-feature{
	width:100%;
}
.our-feature-padding{
	margin-bottom: 10px;
	padding:0;
}
.testiminoal-background{
	padding: 50px 0;
}
.anderson{
	width: calc(100% - 40px);
	margin: 25px 20px;
}
.required-total{
	padding: 40px 10px;
	margin-bottom:0;
}
.project-background{
	padding:0;
}
.news{
	margin-bottom: 20px;
}
.bed {
	width:100%;
}
.bed img{
	padding:0;
}
.landscap-list li {
    width: 100%;
}
.elevate-img {
    width: 100%;
}
.beauty {
    width: 100%;
}
.apratment-list li {
    width: 100%;
}
.pen-outter li {
    width: 100%;
}
.choose {
    width: 100%;
}
.range-picture {
    width: 100%;
	margin-top: 30px;
}
.social-list li {
    width: 100%;
}
.project-list li {
    width: 100%;
    margin-bottom: 15px;
}
.anderson-list li {
    width: 100%;
	margin-bottom:15px;
}
.news-bar li {
    width: 100%;
}
.footer-descripition {
    width: calc(100% - 30px);
    float: left;
    padding: 0 15px;
}
.footer-descripition {
    width: calc(100% - 30px);
    float: left;
    padding: 0 15px;
}
.search-button{
	width:100%;
	padding: 15px 8px;
	margin: 18px 0px;
}
.input-group {
    float: left;
    width: 100%;
}
.form-control{
	width: calc(100% - 32px);
}
.copyright {
    width: 100%;
}
.footer-menu {
    width: 100%;
}
.pricing {
    margin-top: 22px;
}
}
/************************mobile 576px **********************************************************************/
@media only screen and (max-width:576px){
	
.container{
	width:100%;
}
}